{% extends "store/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                {% include 'store/categories.html' %}
{#                Categories#}
{#                <ul>#}
{#                    {% for category in categories %}#}
{#                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
            </div>
            <div class="col-10">
                {% for book in products %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ book.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                        <a href="{% url 'store:product_detail' book.slug %}" class="btn btn-primary">detail</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

